# auto generate
app/data/recipe.json
app/data/incompatible-foods.json

.DS_Store
.vite-ssg-dist
.vite-ssg-temp
*.local

esbuild-kit
tsx-*

# nuxt
node_modules
*.log
dist
.output
.nuxt
.env
.idea/
.vercel
