html {
  color: var(--c-text);
  background-color: var(--c-bg);
}

a {
  color: var(--c-text);
}

.tag {
  margin: 4px;
  padding: 2px 4px;
  // border: 1px solid var(--c-text);
}

/* we will explain what these classes do next! */
.v-enter-active,
.v-leave-active {
  transition: opacity 0.3s ease;
}

.v-enter-from,
.v-leave-to {
  opacity: 0;
}
