:root {
  --c-primary: #5fc178;
  --c-text: #333;

  --c-bg: white;
  --c-bg-alt: #f9fbfd;
}

.dark {
  --c-text: #fafafa;

  --c-bg: #121212;
  --c-bg-alt: #333;
}

// ylf
:root {
  --ylf-c-bg-alt: var(--c-bg-alt);
  --ylf-c-border: #eaeaea;
}

.dark {
  --ylf-c-border: #666;
}

// cook custom
:root {
  --cook-bottom-menu-padding-bottom: 20px;
  --cook-bottom-menu-height: calc(64px + var(--cook-bottom-menu-padding-bottom));
}
